<form #animalForm="ngForm" (ngSubmit)="onSubmit()">
  <label>Nom :</label>
  <input
    type="text"
    name="name"
    [(ngModel)]="model.name"
    #name="ngModel"
    required
  />
  <p *ngIf="name.errors?.required">Ce champs est requis.</p>

  <br />

  <label>Espèce :</label>
  <input
    type="text"
    name="species"
    [(ngModel)]="model.species"
    #species="ngModel"
    required
  />
  <p *ngIf="species.errors?.required">Ce champs est requis.</p>

  <br />

  <label>Vétérinaire :</label>
  <select
    name="veterinarian"
    [(ngModel)]="model.veterinarian"
    #vet="ngModel"
    required
  >
    <option *ngFor="let vet of vets" [value]="getVetName(vet)">
      {{ getVetName(vet) }}
    </option>
  </select>
  <p *ngIf="vet.errors?.required">Ce champs est requis.</p>

  <br />

  <label>Commentaire :</label>
  <textarea name="comment" [(ngModel)]="model.comment"></textarea>

  <br />

  <button type="submit" [disabled]="animalForm.form.invalid">Envoyer</button>
</form>
